* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 50vh;
  background: url("./assets/wave.svg") no-repeat center center #fcbf49;
  background-size: cover;
}
/* CSS NAVBAR */
nav {
  width: 100%;
  min-height: 10vh;
  background-color: #003049;
  position: sticky;
  top: 0%;
  z-index: 1;
}

.nav-list {
  margin: 0;
  padding: 10px;
  list-style: none;
  text-align: center;
}

.nav-list a {
  color: #fcbf49;
  text-decoration: none;
}

.icono {
  margin-right: 5px;
  color: #fcbf49;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list__link {
  display: none;
}

/* desde 768px aplica.. */
@media (min-width: 480px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
  .nav-list__link {
    display: block;
  }
  .nav-list li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  /* De los LI seleccioname el primero */
  li:nth-child(1) {
    flex-grow: 1; /* si tenes espacio, crece */
    flex-shrink: 0;

    justify-self: start; /* dentro de tu ancho,anda al principio */
    text-align: start;
  }
}
/* FIN CSS DE NAVBAR */

.title {
  text-align: center;
  margin-top: 20vh;
}

.bienvenida {
  width: 100%;
  min-height: 50vh;
  padding: 20px;
  background-color: #fcbf49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bienvenida__text-container__title {
  background-color: #d62828;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fotoPerfil {
  display: none;
}
@media (min-width: 768px) {
  .bienvenida {
    padding: 0 10vw 0 10vw;
    flex-direction: row;
    align-items: flex-end;
  }
  .fotoPerfil {
    display: inline;
    max-width: 30%;
    opacity: 95%;
  }
  .bienvenida__text-container {
    align-self: center;
  }
}

/* FOOTER */
.footer {
  width: 100%;
  height: 10vh;
  background-color: #003049;
}

.footer-icon-container {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
}
.footer-icon-container > a > i {
  color: #fcbf49;
}

/* CONOCIMIENTO/SERVICIOS */

.conocimientos {
  min-height: 50vh;
  width: 100%;
  background-color: #f77f00;
  padding: 5vh 0;
  text-align: center;
}

.conocimientos-title {
  margin-bottom: 10px;
}

.conocimientos-container {
  border: solid 2px;
  border-radius: 10px;
  width: 80vw;
  margin: 0 auto;
  padding: 10px;
}

.img-conocimiento {
  display: inline-block;
  margin: auto;
  max-width: 80px;
}

/* CONTACTO */
.form-container {
  background-color: #fcbf49;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-container__fields {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .form-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .form-container__fields {
    width: 350px;
    margin: 0;
  }
}

.form-container__fields-inputs {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.boton {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 100%;
  margin: 10px auto;
  height: 45px;
  text-align: center;
  background-color: #d62828;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.boton:hover {
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.3);
  background-color: #3e8e41;
  color: white;
  transform: scale(1.01);
}

input {
  height: 45px;
  padding: 5px;
  border: none;
}

textarea {
  height: 113px;
  resize: none;
  padding: 5px;
  border: none;
}

input,
textarea {
  background-color: #f77f00;
}
